html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}

.container {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.header {
  background-color: #000;
}

.header h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  font-weight: 200;
  color: #fff;
  margin: 0;
  padding: 7px 0;
}

.notification {
  position: relative;
}

.notification img {
  padding: 10px 0;
}

.notification-menu {
  position: absolute;
  top: 50px;
  left: -200px;
  background-color: #e5e5e5;
  border: #989898;
  padding: 10px;
  list-style: none;
  width: 250px;
  display: none;
}

.notification-menu li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.notification-menu .avatar {
  padding: 2px 0;
}

.notification-menu h3 {
  font-size: 15px;
  margin: 0 0 5px 0;
  display: inline;
}

.notification-menu p {
  margin-bottom: 0;
  font-size: 14px;
}

.post {
  position: relative;
  height: 650px;
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.post .avatar {
  border-radius: 90px 90px 90px;
  padding-left: 13px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 10px;
  height: 25px;
}

.author-name {
  display: inline-block;
  font-size: 25px;
  padding-left: 20px;
  padding-top: 0px;
  ;
}

.comment-img {
  width: 400px;
  height: 300px;
}

.post h3 {
  font-size: 16px;
  margin-top: 0;
  display: inline;
}

.post p {
  font-size: 14px;
}

.post p + img {
  width: 100%;
  margin-bottom: 15px;
}

.btn {
  color: #333;
  border-color: #ccc;
  background-color: transparent;

  font-weight: 300;
  font-size: 30px; 
  position: relative;
  top: 5px;
  
  display: inline-block;

}

.btn-like .btn {
  background-color: #CC0000;
  border-color: #B20000;
  color: #fff;
}

.btn:focus {
  outline: 0;
}

.btn img {
  height: 20px;
  width: 20px;
}

.like-img {
  height: 40px;
  width: 40px ;
  float: right;

}

.hidden {
  display:none;
}

.comment_box {
  height: 20px;
  width: 400px;
  text-align: left;
  vertical-align: text-top;
  float: left;
}

.comment_send {
  float:right;
}

.transition {
    -webkit-transform: scale(4); 
    -moz-transform: scale(4);
    -o-transform: scale(4);
    transform: scale(4);
} 

.hide {
    position: absolute;
    bottom: 0;
    right: 0;
}
/*******************Banner*******************/
.banner{
  background: url("../Img/banner.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  height: 500px;
}
.header{
  text-align: center;
  color: mediumpurple
}

/******************Upload image***************/
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}