<!doctype html>
<html>
	<head>
		<link href="Css/main.css" rel="stylesheet">
		<link href="Css/lightbox.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script  src="https://code.jquery.com/jquery-3.1.1.min.js"
			  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
			  crossorigin="anonymous"></script>
		<link href="Js/JQuerry/slick/slick.css" rel="stylesheet"/ type="text/css">
		<link href="Js/JQuerry/slick/slick-theme.css" rel="stylesheet"/ type="text/css">
		<script src="Js/ng-file-upload-shim.min.js"></script>
		<script src="Js/ng-file-upload.min.js"></script>
		<script src="Js/lightbox.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		


	</head>

	<body ng-app="InstaPro">
		<div class="container-fluid">
			<div class="col-md-2 col-lg-3">
			</div>
			<div class="col-sm-12 col-md-8 col-lg-6">
				<div id='title'><h1>Insta<br>Ninja</h1></div>
				(CLick like or double click on picture !)
				


				<div class="users_div" ng-controller="PostController">
					<div class="user" ng-repeat="user in users">
						<show-user user="user"></show-user>
					</div>
				</div>

				<div class="posts" ng-controller="PostController">

					<div class="main">

						<div class="post" ng-repeat="post in posts">
							<img class="like-img" src="Img/like-btn.jpg" ng-show = 'post.validate'>

							<feedster-post post="post"> </feedster-post>
							
							<click-like post="post"> </click-like>

							<comment-post post="post">
								
							</comment-post>





							<div class="hide">Hide</div>
							

						
						</div>
						<div class="upload">
							<form name="myForm">
								<fieldset>
								<legend>Upload images</legend>
								Username:
								<input type="text" name="userName" ng-model="username" size="31" required>
								<i ng-show="myForm.userName.$error.required">*required</i>
								<br>Photo:
								<input type="file" ngf-select ng-model="picFile" name="file"    
										accept="image/*" ngf-max-size="2MB" required
										ngf-model-invalid="errorFile">
								<i ng-show="myForm.file.$error.required">*required</i><br>
								<i ng-show="myForm.file.$error.maxSize">File too large 
									{{errorFile.size / 1000000|number:1}}MB: max 2M</i>
								<img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
								<br><br>
								<textarea name="description" ng-model="description" cols="50" rows="5"></textarea>
								<br>
								<button ng-disabled="!myForm.$valid" 
										ng-click="uploadPic(picFile)">Submit</button>
								<span class="progress" ng-show="picFile.progress >= 0">
									<div style="width:{{picFile.progress}}%" 
										ng-bind="picFile.progress + '%'"></div>
								</span>
								<span ng-show="picFile.result">Upload Successful</span>
								<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
								</fieldset>
								<br>
							</form>
						</div>
					</div>
				</div>

			</div>
			<div class="col-md-2 col-lg-3">
			</div>
		</div>	
		<footer>
					
		</footer>
		



		<!-- Modules -->
		<script src="Js/app.js"></script>

		<!-- Controllers -->
		<script src="Js/Controller/PostController.js"></script>

		<!-- Directives -->
		<script src="Js/Directives/feedsterPost.js"></script>
		<script src="Js/Directives/clickLike.js"></script>
		<script src="Js/Directives/commentPost.js"></script>
		<script src="Js/Directives/showUser.js"></script> 

		<!-- Demo data -->
		<script type="text/javascript" src="Js/Services/InstaData.js"></script>
		<script type="text/javascript" src="Js/Services/getInstaData.js"></script>
		<script type="text/javascript" src="Js/Services/UserAccount.js"></script> 
		<script type="text/javascript" src="Js/Services/getUserAccount.js"></script> 

		<!-- JQuerry -->
		<script type="text/javascript" src="Js/JQuerry/slick/slick.min.js"></script>
		<script type="text/javascript" src="Js/JQuerry/slick/slick.js"></script>


		<script type="text/javascript">
			$(document).ready(function(){
				$('.users_div').slick({
 						slidesToShow: 5,
  						slidesToScroll: 3,
  						autoplay: true,
  						autoplaySpeed: 2000,

				});

			

				$('.avatar').hover(function(){
						$(this).addClass('transition');
				}, function() {
						$(this).removeClass('transition');
				});
			})
		</script> 

		<script type="text/javascript">
			$(function () {
				$('.hide').click({
					handler: function (event, ui) {
                    if (confirm('Are you sure to hide this?')) {
                        //       alert("just clicked " + $(this).attr('data-ID'))
                        $(this).parent().slideUp()
                    }
                }
				});
			});
		</script> 

		<!-- Full-Image -->
		<script>
			lightbox.option({
			'resizeDuration': 200,
			'wrapAround': true,
			'maxWidth' : 694,
			'maxHeight' : 495,
			'positionFromTop' : 200
			})
		</script>

	</body>
</html>